*{
    margin: 0;
    padding: 0;
    /* border: solid 1px black; */
}

/* Configurações Gerais */
a{
    text-decoration: none;
    color: inherit;
}

body{
    color: #b4b4b4;
}

/* Estilizando header */
header{
    display: flex;
    justify-content: center;

    position: sticky;
    top: 0;
}

header > nav {
    background-color: #1B1B1B;
    padding: 2vh 2vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 87vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ulHeader{
    list-style-type: none;
    display: flex;

    gap: 0 20%;

    text-align: center;
    align-items: center;
}

#linksHeader{
    display: flex;
    gap: 30%;
}
.imgIcoHeader{
    height: 3vh;
    width: auto;
}
